<div class="card-container" [style.background-color]="borderColor" >
<h5 >The first option the tool allows you to adjust is the number of random words to be generated. You can choose as many</h5>
<p>Another option you have is choosing the number of syllables of the words or the word length of the randomized words. There are also ways to further refine these by choosing the "less than" or "greater than" options for both syllables and word length. Again, if you leave the space blank, the complete list of randomized words will be used.</p>
<button (click)="changeColor()" [style.background-color]="btncolor" >Set {{btncolor}}</button>
</div>
